:root {
  --app_background: #FAF9F6;
  --app_color: black;
  --sidebar_background: #9b9b9b;
  --feed_list_background: #dfdfdf;
  --feed_list_para_color: rgba(13, 13,13, 0.8);
  --info_color: rgba(37, 37, 37, 0.8);
  --line_color: black;
  --input_color: rgba(255,255,255,0.05);
}

[data-theme = "dark"] { 
  --app_background: #343541;
  --app_color: white;
  --sidebar_background: #262626;
  --feed_list_background: #4e4e4e;
  --feed_list_para_color: rgba(255,255,255,0.8);
  --info_color: rgba(255,255,255,0.5);
  --line_color: white;
  --input_color: rgba(255,255,255,0.05);
}

* {
  transition: all 0.3s ease-in-out;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
